[[source]]
url = "https://pypi.org/simple"
#url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
jinja2 = "*"
django-redis= "*"
PyMySQL= "*"
QQLoginTool= "*"
requests = "*"
cryptography ="*"
pillow = {version = "*", index = "https://pypi.douban.com/simple/"}

[dev-packages]

[requires]
python_version = "3.9"
